:root {
  --mainFontColor: #eeee;
  --anchorMainColor: #f6f6ee;
  --anchorHoverColor: #acac83;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: var(--fontJetBrainsMono);
  flex-direction: column;
  background-color: #121212;
  color: var(--mainFontColor);
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.logo_update {
  color: #ccc6;
}

.aside {
  min-height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: #454532;
  align-items: center;
}


.header {
  width: 100%;
  background: linear-gradient(#202020, #151515);
  display: flex;
  position: sticky;
  top: 0px;
  padding: 10px 50px;
  border-bottom: 1px solid var(--mainFontColor);
  z-index: 1;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 50px;
  width: 100%;
}

h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: var(--anchorMainColor);
  transition: .3s;
}

a:hover {
  color: var(--anchorHoverColor);
}

.button {
  border: 1px solid var(--mainFontColor);
  padding: 5px;
  transition: all .3s;
  color: #fff;
  width: 100%;
  background-color: #121212;
}

.button:hover {
  border: 1px solid var(--anchorHoverColor);
  color: #121212;
  background-color: #fff;
}

.hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--mainFontColor);
  /* margin: 50px 0; */
}

.content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.banner1 {
  width: 100%;
  background: url("../../../assets/media/banner1.webp") no-repeat;
  aspect-ratio: 1310 / 330;
  background-size: contain;
}

.banner2 {
  width: 100%;
  background: url("../../../assets/media/banner2.webp") no-repeat;
  aspect-ratio: 1310 / 330;
  background-size: contain;
}

.sellings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.new-releases {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5vh;

}

.new-releases__content {
  display: flex;
  width: 100%;
  /* gap: 30px; */
  flex-wrap: wrap;
  justify-content: center;

}

.new-releases__content--item {
  gap: 30px;
  margin: 30px;
  flex: 200px 1 1;
}

.new-releases__content--item--desc {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.see-more {
  text-align: center;
  padding: 10px;
  width: 200px;
  background-color: #454532;
  border: 1px solid #fff;

}

.see-more:hover {
  background-color: #fff;
  color: #121212;
}

.main-desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.artist-name {
  font-size: 14px;
  color: #747474;
}

.selling-item {
  display: flex;
  max-width: 400px;
  min-width: 100px;
  flex-direction: column;
  background-color: #171717;
  padding: 20px;
  justify-content: space-between;
  box-shadow: 0px 0px 2px 0px #747474;
}

.selling-item img {
  object-fit: cover;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.price p {
  align-self: start;
}

.top-sellings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top-sellings__content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top-sellings__content--item {
  margin: 30px;
  gap: 30px;
  flex: 1 1;
  min-width: 200px;
}

.button-type2 {
  text-align: center;
  background-color: #d4d4d4;
  color: #121212;
  padding: 10px 0;
}

.button-type2:hover {
  color: #fff;
  background-color: #111;
}

.top-sellings__price {
  color: #b5b5b5;
}

.row {
  display: flex;
}

.pre-order {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.pre-order__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 3vw;
}

.selling-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.sellign-item {
  display: flex;
  flex-direction: column;
  flex: 200px 1 1;
  background-color: #171717;
  padding: 20px;
  justify-content: stretch;
  align-items: stretch;
  gap: 10px;
  max-width: 300px;
  min-width: 100px;
}

.pre-order__content--item {
  display: flex;
  flex-direction: column;
  flex: 200px 1 1;
  background-color: #171717;
  padding: 20px;
  justify-content: stretch;
  align-items: stretch;
  gap: 10px;
  max-width: 300px;
  min-width: 100px;
}

.pre-order__content--label {
  position: absolute;
  background-color: #454532;
  padding: 5px;
  font-size: 14px;
  transform: translate(-20px, -20px);
}

.price2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discover-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.discover-by__content {
  width: 90vw;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #161616;
  border: 1px solid #fff3;
  padding: 10px;
  border-radius: 10px;
}

.vertical-divider {
  height: inherit;
  width: 2px;
  background-color: #fff3;
}

.part {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list a {
  flex: 200px 1 1;
  background-color: #272727;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.footer {
  background: linear-gradient(#202020, #151515);
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 100px 100px;
  gap: 10px;

}

.flex {
  display: flex;
  align-self: start;
}

.column {
  flex-direction: column;
}

.gap-5 {
  gap: 5px;
}

.gap-30 {
  gap: 30px;
}

.footer-list a {
  margin-left: 20px;
}

.top-sellings__content--artist {
  font-size: 13px;
}

section[id] {
  padding: 10vh 0;
}

@media (max-width: 500px) {
  .header__nav {
    flex-direction: column;
  }

  .header__nav a {
    margin-left: 0 !important;
  }

  .banner1,
  .banner2 {
    height: 80vh !important;
  }

  .footer h2,
  .footer p {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .header__nav a:nth-child(n+2):nth-child(-n+4){
    display: none !important;
  }
}

