<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/tickets.css">
	<title>YMA - youth musical association</title>
</head>
<body>
	<header
		style="background-image: url(../../assets/tickets/possibilities-img.jpg)"
		class="header"
		id="top"
	>
		<div class="header__top">
			<div class="container">
				<a class="header__logo" href="./tickets.html">BTickets</a>
				<nav class="header__nav">
					<a href="#">Возможности</a>
					<a href="./store.html">Магазин</a>
				</nav>
			</div>
		</div>
		<section class="header__welcome container">
			<div class="header__welcome-content">
				<h1 class="header__welcome-title">Возможности</h1>
				<p class="header__welcome-description">Доступно после регистрации</p>
			</div>
		</section>
	</header>
	<main class="content">
		<div class="container">
			<ul class="possiblities__list">
				<li class="possiblities__list-item">
					<h3 class="possiblities__list-item-title">Управление продажами</h3>
					<p class="possiblities__list-item-description">
						Каталог событий, стимулирование покупателей и статистика в реальном времени
					</p>
				</li>
				<li class="possiblities__list-item">
					<h3 class="possiblities__list-item-title">Продажи в соцсетях</h3>
					<p class="possiblities__list-item-description">
						Приложения и виджеты для Вконтакте, Telegram, Twitter и других популярных соцсетей
					</p>
				</li>
				<li class="possiblities__list-item">
					<h3 class="possiblities__list-item-title">Возвраты</h3>
					<p class="possiblities__list-item-description">
						Возвраты в ручном режиме и автоматизированные возвраты для ваших покупателей
					</p>
				</li>
				<li class="possiblities__list-item">
					<h3 class="possiblities__list-item-title">Акции и промокоды</h3>
					<p class="possiblities__list-item-description">
						Предоставьте покупателям более выгодные условия покупки билета на базе настраиваемых скидок
					</p>
				</li>
				<li class="possiblities__list-item">
					<h3 class="possiblities__list-item-title">Мобильное приложение</h3>
					<p class="possiblities__list-item-description">
						Загрузка штрихкодов партнёров и сканирование всех билетов, статистика прошедших
					</p>
				</li>
				<li class="possiblities__list-item">
					<h3 class="possiblities__list-item-title">
						Супервиджеты и
						готовые схемы площадок
					</h3>
					<p class="possiblities__list-item-description">
						Удобная покупка для аудитории любого возраста и высокая лояльность к вашему событию
					</p>
				</li>
				<li class="possiblities__list-item">
					<h3 class="possiblities__list-item-title">Интеграции с сервисами</h3>
					<p class="possiblities__list-item-description">
						Tilda, Wix и др. конструкторы, amoCRM, Битрикс24, Roistat, Яндекс.Метрика, Google Analytics
					</p>
				</li>
				<li class="possiblities__list-item">
					<h3 class="possiblities__list-item-title">Распределение ролей</h3>
					<p class="possiblities__list-item-description">
						Набор стандартных ролей с разграничением прав для аккаунтов сотрудников
					</p>
				</li>
				<li class="possiblities__list-item">
					<h3 class="possiblities__list-item-title">
						Конфиденциальность
					</h3>
					<p class="possiblities__list-item-description">
						Третьи лица не имеют доступа к вашим данным, они находятся в сохранности и безопасности
					</p>
				</li>
			</ul>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<ul class="footer__list">
				<li class="footer__list-item">
					<a class="header__logo" href="#top">BTickets</a>
					<nav class="footer__nav">
						<a href="#">Возможности</a>
						<a href="./store.html">Магазин</a>
					</nav>
				</li>
				<li class="footer__list-item">
					<h3 class="footer__title">Контакты</h3>
					<div class="footer__contact">
						<img src="../../assets/tickets/gmail.svg" alt="gmail" />
						<a class="footer__contact-text" href="mailto:yourmail@gmail.com">
							yourmail@gmail.com
						</a>
					</div>
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>