<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/tickets.css">
	<title>YMA - youth musical association</title>
</head>

<body>
	<header style="background-image: url(../../assets/tickets/profile-header-img.jpg)" class="header" id="top">
		<div class="header__top">
			<div class="container">
				<a class="header__logo" href="./tickets.html">BTickets</a>
				<nav class="header__nav">
					<a href="../../index.html">Проектная страница</a>
					<a href="#">Аккаунт</a>
					<a href="./possibilities.html">Возможности</a>
					<a href="./store.html">Магазин</a>
					<a href="./register.html">Регистрация</a>
				</nav>
			</div>
		</div>
		<section class="header__welcome container">
			<div class="header__welcome-content header__profile">
				<img
					class="header__profile-avatar"
					src="../../assets/tickets/profile-img.jpg"
					alt="аватар"
				>
				<h1 class="header__welcome-title">Алексей Яковлев</h1>
				<p class="header__welcome-description">alexey@gmail.com</p>
			</div>
		</section>
	</header>
	<footer class="footer">
		<div class="container">
			<ul class="footer__list">
				<li class="footer__list-item">
					<a class="header__logo" href="#top">BTickets</a>
					<nav class="footer__nav">
						<a href="../../index.html">Проектная страница</a>
						<a href="#">Аккаунт</a>
						<a href="./possibilities.html">Возможности</a>
						<a href="./store.html">Магазин</a>
						<a href="./register.html">Регистрация</a>
					</nav>
				</li>
				<li class="footer__list-item">
					<h3 class="footer__title">Контакты</h3>
					<div class="footer__contact">
						<img src="../../assets/tickets/gmail.svg" alt="gmail" />
						<a class="footer__contact-text" href="mailto:yourmail@gmail.com">
							alexeyykovlev@gmail.com
						</a>
					</div>
					<div class="footer__contact">
						<img src="../../assets/tickets/telegram.svg" alt="telegram" />
						<a class="footer__contact-text" href="https://t.me/quod_42">
							Алексей Яковлев
						</a>
					</div>
				</li>
			</ul>
		</div>
	</footer>
</body>

</html>