<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./styles/auth.css">
	<title>YMA - youth musical association</title>
</head>
<body>
	<main class="content container">
		<div class="content__register">
			<a href="./tickets.html" class="logo">BTickets</a>
			<div class="content__block">
				<div
					style="background-image: url(../../assets/tickets/register-img.jpg)";
					class="content__block-img"
				></div>
				<form class="form">
					<h1 class="form__title">Регистрация</h1>
					<input type="email" placeholder="Почта" required>
					<input type="text" placeholder="Имя" required>
					<input type="password" placeholder="Пароль" required>
					<input type="password" placeholder="Повторите пароль" required>
					<button class="form__submit">Зарегистрироваться</button>
					<p class="form__description">
						Есть аккаунт? <a href="./login.html">Войти</a>
					</p>
				</form>
			</div>
		</div>
	</main>
</body>
</html>