<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/tickets.css">
	<title>YMA - youth musical association</title>
</head>

<body>
	<header style="background-image: url(../../assets/tickets/price-img.jpg)" class="header" id="top">
		<div class="header__top">
			<div class="container">
				<a class="header__logo" href="./tickets.html">BTickets</a>
				<nav class="header__nav">
					<a href="./possibilities.html">Возможности</a>
					<a href="./store.html">Магазин</a>
					<a href="./register.html">Регистрация</a>
				</nav>
			</div>
		</div>
		<section class="header__welcome container">
			<div class="header__welcome-content">
				<h1 class="header__welcome-title">Товары</h1>
				<p class="header__welcome-description">
					Билеты от организаторов
					на мероприятия в вашем городе
				</p>
			</div>
		</section>
	</header>
	<main class="content">
		<div class="container">
			<section class="store">
				<h2 class="store__title">Билеты на мероприятия в городе Москва</h2>
				<ul class="store__list">
					<li class="store__list-item">
						<header class="store__list-item-header">
							<img src="../../assets/tickets/concert-1.jpg" alt="Султан Лагучев | 9 декабря" />
							<span class="store__list-item-price">от 150 руб.</span>
						</header>
						<div class="store__list-item-content">
							<div class="store__list-item-content-top">
								<h3 class="store__list-item-title">Султан Лагучев | 9 декабря</h3>
								<span class="store__list-item-type">Концерт</span>
							</div>
							<footer class="store__list-item-down">
								<span class="store__list-item-date">9 декабря, 21:00</span>
								<span class="store__list-item-palce">Gaudi</span>
							</footer>
						</div>
					</li>
					<li class="store__list-item">
						<header class="store__list-item-header">
							<img src="../../assets/tickets/concert-2.jpg" alt="KyRock New Year" />
							<span class="store__list-item-price">от 250 руб.</span>
						</header>
						<div class="store__list-item-content">
							<div class="store__list-item-content-top">
								<h3 class="store__list-item-title">KyRock New Year</h3>
								<span class="store__list-item-type">Фестиваль</span>
							</div>
							<footer class="store__list-item-down">
								<span class="store__list-item-date">суббота 10 декабря, 18:00</span>
								<span class="store__list-item-palce">Рок-Бар "Атмосфера"</span>
							</footer>
						</div>
					</li>
					<li class="store__list-item">
						<header class="store__list-item-header">
							<img src="../../assets/tickets/concert-3.jpg" alt="Stud New Year Party" />
							<span class="store__list-item-price">от 200 руб.</span>
						</header>
						<div class="store__list-item-content">
							<div class="store__list-item-content-top">
								<h3 class="store__list-item-title">Stud New Year Party</h3>
								<span class="store__list-item-type">Вечеринка</span>
							</div>
							<footer class="store__list-item-down">
								<span class="store__list-item-date">суббота 17 декабря, 22:30</span>
								<span class="store__list-item-palce">Gaudi</span>
							</footer>
						</div>
					</li>
					<li class="store__list-item">
						<header class="store__list-item-header">
							<img src="../../assets/tickets/concert-4.jpg" alt="23.12 | BLACK WINTER DAY" />
							<span class="store__list-item-price">от 320 руб.</span>
						</header>
						<div class="store__list-item-content">
							<div class="store__list-item-content-top">
								<h3 class="store__list-item-title">23.12 | BLACK WINTER DAY</h3>
								<span class="store__list-item-type">Концерт</span>
							</div>
							<footer class="store__list-item-down">
								<span class="store__list-item-date">пятница 23 декабря, 18:00</span>
								<span class="store__list-item-palce">Рок-клуб «PRB»</span>
							</footer>
						</div>
					</li>
					<li class="store__list-item">
						<header class="store__list-item-header">
							<img src="../../assets/tickets/concert-5.jpg"
								alt="E L E M E N T S - НОВЫЙ ГОД ТВОЕЙ МЕЧТЫ #asp20years" />
								<span class="store__list-item-price">от 290 руб.</span>
						</header>
						<div class="store__list-item-content">
							<div class="store__list-item-content-top">
								<h3 class="store__list-item-title">E L E M E N T S - НОВЫЙ ГОД ТВОЕЙ МЕЧТЫ #asp20years</h3>
								<span class="store__list-item-type">Концерт</span>
							</div>
							<footer class="store__list-item-down">
								<span class="store__list-item-date">суббота 31 декабря, 22:00</span>
								<span class="store__list-item-palce">ресторан Арбат (Московская, 52)</span>
							</footer>
						</div>
					</li>
				</ul>
			</section>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<ul class="footer__list">
				<li class="footer__list-item">
					<a class="header__logo" href="#top">BTickets</a>
					<nav class="footer__nav">
						<a href="./possibilities.html">Возможности</a>
						<a href="./store.html">Магазин</a>
						<a href="./register.html">Регистрация</a>
					</nav>
				</li>
				<li class="footer__list-item">
					<h3 class="footer__title">Контакты</h3>
					<div class="footer__contact">
						<img src="../../assets/tickets/gmail.svg" alt="gmail" />
						<a class="footer__contact-text" href="mailto:yourmail@gmail.com">
							yourmail@gmail.com
						</a>
					</div>
					<div class="footer__contact">
						<img src="../../assets/tickets/telegram.svg" alt="telegram" />
						<a class="footer__contact-text" href="https://t.me/quod_42">
							Author
						</a>
					</div>
				</li>
			</ul>
		</div>
	</footer>
</body>

</html>