<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/tickets.css">
	<title>YMA - youth musical association</title>
</head>

<body>
	<header
		style="background-image: url(../../assets/tickets/welcome-img.jpg)"
		class="header"
		id="top"
	>
		<div class="header__top">
			<div class="container">
				<a class="header__logo" href="#">BTickets</a>
				<nav class="header__nav">
					<a href="../../index.html">Проектная страница</a>
					<a href="./profile.html">Аккаунт</a>
					<a href="./possibilities.html">Возможности</a>
					<a href="./store.html">Магазин</a>
					<a href="./register.html">Регистрация</a>
				</nav>
			</div>
		</div>
		<section class="header__welcome container">
			<div class="header__welcome-content">
				<h1 class="header__welcome-title">Сервис продажи билетов</h1>
				<p class="header__welcome-description">на любое мероприятие</p>
			</div>
		</section>
	</header>
	<main class="content">
		<article class="about container">
			<section class="about__info">
				<h2 class="about__title">Создано</h2>
				<p class="about__description">
					для организаторов, площадок, концертных и рекламных агентств
				</p>
			</section>
			<section class="about__info">
				<h2 class="about__title">Чтобы</h2>
				<p class="about__description">
					распространять, продавать и контролировать все билеты, автоматизировать рутину, снижать налоговую нагрузку, собирать
					информацию о покупателях, моментально получать деньги и отчётность в режиме реального времени
				</p>
			</section>
		</article>
		<article class="numbers">
			<div class="container">
				<ul class="numbers__list">
					<li class="numbers__list-item">
						<h2 class="numbers__list-item-title">100%</h2>
						<p
							class="numbers__list-item-description"
						>
							Гарантированная доставка всех билетов
						</p>
					</li>
					<li class="numbers__list-item">
						<h2 class="numbers__list-item-title">250+</h2>
						<p class="numbers__list-item-description">
							Работаем в 250 городах и 20 странах
						</p>
					</li>
					<li class="numbers__list-item">
						<h2 class="numbers__list-item-title">+%</h2>
						<p class="numbers__list-item-description">
							Отдаём вам весь сервисный сбор
						</p>
					</li>
				</ul>
			</div>
		</article>
	</main>
	<footer class="footer">
		<div class="container">
			<ul class="footer__list">
				<li class="footer__list-item">
					<a class="header__logo" href="#top">BTickets</a>
					<nav class="footer__nav">
						<a href="../../index.html">Проектная страница</a>
						<a href="./profile.html">Аккаунт</a>
						<a href="./possibilities.html">Возможности</a>
						<a href="./store.html">Магазин</a>
						<a href="./register.html">Регистрация</a>
					</nav>
				</li>
				<li class="footer__list-item">
					<h3 class="footer__title">Контакты</h3>
					<div class="footer__contact">
						<img src="../../assets/tickets/gmail.svg" alt="gmail" />
						<a
							class="footer__contact-text"
							href="mailto:yourmail@gmail.com"
						>
							alexeyykovlev@gmail.com
						</a>
					</div>
					<div class="footer__contact">
						<img src="../../assets/tickets/telegram.svg" alt="telegram" />
						<a class="footer__contact-text" href="https://t.me/quod_42">
							Алексей Яковлев
						</a>
					</div>
				</li>
			</ul>
		</div>
	</footer>
</body>

</html>