body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.mainicon {
    flex-grow: 2;
    height: 120px;
    align-items: center;
    justify-content: center;
}

.header__nav {
    flex-grow: 8;
    align-items: center;
    justify-content: center;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.header__nav-list li {
    list-style-type: none;
    padding: 15px;
    margin: 5px;
}

.header__nav-list a {
    text-decoration: none;
    font-size: 30px;
    color: #49AAEE;
    transition: all 0.6s;
}

.header__nav-list a:hover {
    transform: scale(1.1);
    color:#127488;
}

.hubback {
    display: flex;
    flex-grow: 2;
}

.hubback img { 
    width: 30px;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
}

.hubback img:hover {
    transform: scale(1.1);
}

footer {
    background-color: black;
    z-index: 10;
}

footer nav {
    display: flex;
    justify-content: center;
}

footer img {
    width: 40px;
    height: auto;
    border-radius: 100%;
    background-color: unset;
    margin: 20px;
    padding: 10px;
}

.vk:hover {
    transition: all 0.6s;
    transform: scale(1.1);
    background-color: rgb(41, 87, 187);
}

.inst:hover {
    transition: all 0.6s;
    transform: scale(1.1);
    background-color: rgb(220, 228, 113);
}

.fabo:hover {
    transition: all 0.6s;
    transform: scale(1.1);
    background-color: rgb(6, 66, 196);
}

.tech-content {
    background-color: rgb(236, 230, 230);
    position: relative;
    flex-basis: 500px;
    flex-wrap: nowrap;
}

.tech-cont-menu {
    display: flex;
    background-color: rgb(236, 230, 230);
    width: 17%;
    flex-wrap: nowrap;
}

.ul { 
    display: flex;
	flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: rgb(236, 230, 230);
    height: inherit; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    z-index: 0;
}

.cat-nav-link-p {
    text-align: center;
    display: block;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    overflow: hidden;
    color: #49AAEE;
}

.active {
    background-color: #ffffff;
    color:#3494d8;
}

.tech_content_cont {
    display: block;
    background-color: #ffffff;
    position: relative;
    justify-content: flex-end;
    margin-left: 17%;
    padding: 40px;
}

.tech-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tech-card {
    padding: 5px;
    margin: 10px;
    border: 1px solid unset;
    background-color: lightgray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-radius: 10px;
}

.tech-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-radius: 10px;
}

.tech-card h3 {
    color: black;
    font-weight: bold;
    margin: 5px;
}

.tech-card p {
    font-size: 20px;
    margin: 5px;
    color: black;
    width: 250px;
}

.tech-card:hover {
    transition: all 0.6s;
    transform: scale(1.05);
}

.cardbut {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cardbut img {
    border: none;
}

.cardbut button {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardbut_act {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 100%;
    background-color: unset;
}

.cardbut button img {
    width: 22px;
    height: 22px;
}

button.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: unset;
    padding: 5px 10px;
    color: gray;
}

.cardbut button:hover {
    transition: all 0.4s;
    transform: scale(1.1);
    border-color: black;
    cursor: pointer;
    color: black;
}

footer {
    background-color: #000000;
    margin: 0;
    padding: 50px;
}

.main_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #25B7D3;
}

.footer_refs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_refs a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 0.6s;
    margin: 20px;
}

.footer_refs img {
    width: 50px;
    margin: 10px;
}

.footer_vk:hover {
    background-color: #2669c2;
}

.footer_ok:hover {
    background-color: #e7b54a;
}

.footer_inst:hover {
    background-color: #b562d6;
}

.footer_fb:hover {
    background-color: #354ac5;
}

.footer_sn:hover {
    background-color: #c8d142;
}

.footer_tw:hover {
    background-color: #3dafd1;
}

footer p {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    color: rgb(240, 240, 240);
}