<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="styles/merch.css">
	<title>YMA - youth musical association</title>
	
</head>

<body>
	<header>
		<a class="" href = "../../index.html" role="button">
			<img src ="../../assets/merch/photo_2022-12-04_22-59-06.jpg" class = "ShapkaLol">
					</a>
	</header>
	<main class="content">
		<h1>Рекомендуемые товары</h1>
		<div class = "merch merch1">
		<div class = "all">
			<div class = "imgall">
			<img src="../../assets/merch/people_1_krujka_front_white_700.jpg">
			</div>
			<p class = "nametovara">
				Кружка "I love rock"
			</p>
			<p class = "allprize">
				500 рублей
			</p>
			<a class="btn btn-primary btn-dark-style" href="Cup.html" role="button">В корзину</a>
		</div>

		<div class = "all">
			<div>
				<img src = "../../assets/merch/ru132313I1000bc30316d084fbc4aada8bf0eef575099.jpg">
			</div>
			<p class = "nametovara">
				Коврик с Цоем
			</p>
			<p class = "allprize">
				900 рублей
			</p>
			<a class="btn btn-primary btn-dark-style" href="Carpet.html" role="button">В корзину</a>
		</div>
		<div class = "all">
			<div>
				<img src = "../../assets/merch/657479-8228.jpg">
			</div>
			<p class = "nametovara">
				Футболка с гитарой
			</p>
			<p class = "allprize">
				1100 рублей
			</p>
			<a class="btn btn-primary btn-dark-style" href="TShirtwithgitar.html" role="button">В корзину</a>
		</div>
		<div class = "merch merch2">
			<div class = "all">
				<div>
				<img src="../../assets/merch/40-4-1.png">
				</div>
				<p class = "nametovara">
					Тетради с нотами
				</p>
				<p class = "allprize">
					300 рублей
				</p>
				<a class="btn btn-primary btn-dark-style" href="Notebooks.html" role="button">В корзину</a>
			</div>
	
			<div class = "all">
				<div>
					<img src = "../../assets/merch/959ed5be49ce8e6e5dbbcd61f085.png">
				</div>
				<p class = "nametovara">
					Футболка Rock
				</p>
				<p class = "allprize">
					1200 рублей
				</p>
				<a class="btn btn-primary btn-dark-style" href="TShirtwithRock.html" role="button">В корзину</a>
			</div>
			<div class = "all">
				<div class = "img">
					<img src = "../../assets/merch/dca1b43338622a75f3a1dfc9e0f6903b.jpg">
				</div>
				<p class = "nametovara">
					Мини колонка
				</p>
				<p class = "allprize">
					1550 рублей
				</p>
				<a class="btn btn-primary btn-dark-style" href="Minispeaker.html" role="button">В корзину</a>
			</div>
		</div>
	</main>
	<footer>
		
	</footer>
</body>

</html>