<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mediator</title>
	<link rel="stylesheet" href="styles/media.css">
	<link rel="stylesheet" href="../../styles/scrollbar.css">
	<link rel="stylesheet" href="styles/styles.css">
</head>

<body>
	<aside class="aside">
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi vitae natus culpa quisquam fuga?</p>
	</aside>
	<header class="header">
		<nav class="header__nav">
			<h1>Media<span class="logo_update">tor</span></h1>
			<a href="#">Main</a>
			<a href="#">Just Arrived</a>
			<a href="#">New Releases</a>
			<a href="#">Genres</a>
			<a href="#">Phonograph Records</a>
			<a href="#">Audio Tapes</a>
			<a href="#">Contact us</a>
		</nav>
	</header>
	<main class="content">
		
	</main>
</body>

</html>
