<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mediator</title>
	<link rel="stylesheet" href="styles/media.css">
	<link rel="stylesheet" href="../../styles/scrollbar.css">
	<link rel="stylesheet" href="styles/styles.css">
</head>

<body>
	<aside class="aside">
		<p>30% Off (some exclusions apply) Free Expedited Shipping on R.F. Orders | <a
				style="color: var(--anchorHoverColor); text-decoration: underline;" href="#">Limitation apply</a></p>
	</aside>
	<header class="header">
		<nav class="header__nav">
			<a href="#">
				<h1>Media<span class="logo_update">tor</span></h1>
			</a>
			<a href="#new-releases">New Releases</a>
			<a href="#top-sellings">Top Sellers</a>
			<a href="#pre-order">Pre Order</a>
			<a style="margin-left: auto;" href="#">Sign in</a>
			<a href="#pre-order">Sign up</a>
		</nav>
	</header>
	<main class="content">
		<a href="#">
			<div class="banner1"></div>
		</a>
		<hr class="hr">
		<section class="sellings">
			<section id="new-releases" class="new-releases">
				<h2>NEW RELEASES</h2>
				<div class="new-releases__content">
					<div class="new-releases__content--item selling-item">
						<a href="#"><img src="../../assets/media/vinil2.jpg" alt=""></a>
						<div class="new-releases__content--item--desc">
							<div>
								<p>Picture of Life</p>
								<p class="artist-name"><a href="#">Andrew Mitchell</a></p>
							</div class="main-desc">
							<div class="price">
								<p>$18.98</p>
								<a class="button" href="#">ADD TO BAG</a>
							</div>
						</div>
					</div>
					<div class="new-releases__content--item selling-item">
						<a href="#"><img src="../../assets/media/vinil3.jfif" alt=""></a>
						<div class="new-releases__content--item--desc">
							<div class="main-desc">
								<p>Climate changed</p>
								<p class="artist-name"><a href="#">Tommen Green</a></p>
							</div>
							<div class="price">
								<p>$20.48</p>
								<a class="button" href="#">ADD TO BAG</a>
							</div>
						</div>
					</div>
					<div class="new-releases__content--item selling-item">
						<a href="#"><img src="../../assets/media/vinil4.jfif" alt=""></a>
						<div class="new-releases__content--item--desc">
							<div class="main-desc">
								<p>Blank canvas</p>
								<p class="artist-name"><a href="#">Joseph Williams</a></p>
							</div>
							<div class="price">
								<p>$16.48</p>
								<a class="button" href="#">ADD TO BAG</a>
							</div>
						</div>
					</div>
					<div class="new-releases__content--item selling-item">
						<a href="#"><img src="../../assets/media/vinil5.jpg" alt=""></a>
						<div class="new-releases__content--item--desc">
							<div class="main-desc">
								<p>Bankrupcy</p>
								<p class="artist-name"><a href="#">John Pepper</a></p>
							</div>
							<div class="price">
								<p>$22.52</p>
								<a class="button" href="#">ADD TO BAG</a>
							</div>
						</div>
					</div>
					<div class="new-releases__content--item selling-item">
						<a href="#"><img src="../../assets/media/vinil6.jpg" alt=""></a>
						<div class="new-releases__content--item--desc">
							<div class="main-desc">
								<p>Concept art</p>
								<p class="artist-name"><a href="#">Wandy Brown</a></p>
							</div>
							<div class="price">
								<p>$23.96</p>
								<a class="button" href="#">ADD TO BAG</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<hr class="hr">
			<section id="top-sellings" class="top-sellings">
				<h2>TOP SELLERS</h2>
				<section class="top-sellings__content">
					<div class="selling-item top-sellings__content--item">
						<img src="../../assets/media/vinil7.jfif" alt="">
						<div>
							<p>Zero experience</p>
							<p><a class="top-sellings__content--artist" href="#">Freddy Backet</a></p>
							<p class="top-sellings__price">$20.98</p>
						</div>
						<a class="button-type2" href="#">ADD TO BAG</a>
					</div>
					<div class="selling-item top-sellings__content--item">
						<img src="../../assets/media/vinil8.jfif" alt="">
						<div>
							<p>Bare to the bone</p>
							<p><a class="top-sellings__content--artist" href="#">Cate Moon</a></p>
							<p class="top-sellings__price">$17.96</p>
						</div>
						<a class="button-type2" href="#">ADD TO BAG</a>
					</div>
					<div class="selling-item top-sellings__content--item">
						<img src="../../assets/media/vinil9.jfif" alt="">
						<div>
							<p>Rain check</p>
							<p><a class="top-sellings__content--artist" href="#">Lyne Rock</a></p>
							<p class="top-sellings__price">$19.98</p>
						</div>
						<a class="button-type2" href="#">ADD TO BAG</a>
					</div>
					<div class="selling-item top-sellings__content--item">
						<img src="../../assets/media/vinil10.jfif" alt="">
						<div>
							<p>Creative director</p>
							<p><a class="top-sellings__content--artist" href="#">Brian Ruth</a></p>
							<p class="top-sellings__price">$29.78</p>
						</div>
						<a class="button-type2" href="#">ADD TO BAG</a>
					</div>
				</section>
			</section>
			<hr class="hr">
			<section id="pre-order" class="pre-order">
				<h2>PRE-ORDER VINIL</h2>
				<section class="pre-order__content">
					<div class="pre-order__content--item">
						<img src="../../assets/media/vinil11.jfif" alt="">
						<div class="pre-order__content--label">PRE-ORDER</div>
						<div class="text">
							<p>The Last Straw</p>
							<p><a class="artist-name" href="">Barry Vale</a></p>
						</div>
						<div class="price2">
							<p>$20.98</p>
							<a href="#" class="button">ADD TO BAG</a>
						</div>
					</div>
					<div class="pre-order__content--item">
						<img src="../../assets/media/vinil12.jfif" alt="">
						<div class="pre-order__content--label">PRE-ORDER</div>
						<div class="text">
							<p>Audience</p>
							<p><a class="artist-name" href="">Dave Edwards</a></p>
						</div>
						<div class="price2">
							<p>$20.98</p>
							<a href="#" class="button">ADD TO BAG</a>
						</div>
					</div>
					<div class="pre-order__content--item">
						<img src="../../assets/media/vinil13.jfif" alt="">
						<div class="pre-order__content--label">PRE-ORDER</div>
						<div class="text">
							<p>Crown Funding</p>
							<p><a class="artist-name" href="">Dwayne Mill</a></p>
						</div>
						<div class="price2">
							<p>$20.98</p>
							<a href="#" class="button">ADD TO BAG</a>
						</div>
					</div>
					<div class="pre-order__content--item">
						<img src="../../assets/media/vinil14.jfif" alt="">
						<div class="pre-order__content--label">PRE-ORDER</div>
						<div class="text">
							<p>Under the bus</p>
							<p><a class="artist-name" href="">Jared Bennett</a></p>
						</div>
						<div class="price2">
							<p>$20.98</p>
							<a href="#" class="button">ADD TO BAG</a>
						</div>
					</div>
					<div class="pre-order__content--item">
						<img src="../../assets/media/vinil1.jpg" alt="">
						<div class="pre-order__content--label">PRE-ORDER</div>
						<div class="text">
							<p>Bottom's up</p>
							<p><a class="artist-name" href="">Rick Jet</a></p>
						</div>
						<div class="price2">
							<p>$20.98</p>
							<a href="#" class="button">ADD TO BAG</a>
						</div>
					</div>
				</section>
			</section>
		</section>
		<hr class="hr">
		<a href="#">
			<div class="banner2"></div>
		</a>
		<hr class="hr">
		<section class="discover-by">
			<h2>DISCOVER MUSIC BY</h2>
			<section class="discover-by__content">
				<div class="part decade">
					<h3>By decade</h3>
					<div class="list">
						<a href="#">1950's</a>
						<a href="#">1960's</a>
						<a href="#">1970's</a>
						<a href="#">1980's</a>
						<a href="#">1990's</a>
						<a href="#">2000's</a>
						<a href="#">2010's</a>
						<a style="color: #d5eb98; text-decoration: underline;" href="#">See more</a>
					</div>
				</div>
				<div class="vertical-divider"></div>
				<div class="part genre">
					<h3>By genre</h3>
					<div class="list">
						<a href="#">Alternative Rock</a>
						<a href="#">Blues</a>
						<a href="#">Country</a>
						<a href="#">Classic Rock</a>
						<a href="#">Funk & Soul</a>
						<a href="#">Metal & Punk</a>
						<a style="color: #efdacc; text-decoration: underline;" href="#">See more</a>
					</div>
				</div>
			</section>
		</section>
		<hr class="hr">
	</main>
	<footer class="footer">
		<div class="flex column gap-30">
			<div class="flex column gap-5 footer-list">
				<h2>Follow us</h2>
				<a href="#">Facebook</a>
				<a href="#">Tweeter</a>
				<a href="#">Youtube</a>
				<a href="#">mediator@gmail.com</a>
			</div>
			<div class="flex column gap-5 footer-list">
				<h2>Your account</h2>
				<a href="#">Sign in</a>
				<a href="#">Sign up</a>
				<a href="#">My bag</a>
				<a href="#">My wishlist</a>
			</div>
		</div>
		<p>Copyright © 2022 Mediator.</p>
	</footer>
</body>

</html>