<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../styles/techs.css">
	<title>YMA - youth musical association</title>
    <link rel="stylesheet" href="css/tech.css">
</head>

<body>
	<header class="header">
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li>
					<a href="../posters/posters.html">Постеры</a>
				</li>
				<li>
					<a href="../accessories/accessories.html">Аксессуары</a>
				</li>
				<li>
					<a href="../media/media.html">Носители</a>
				</li>
				<li>
					<a href="../tools/tools.html">Инструменты</a>
				</li>
				<li>
					<a href="../techs/techs.html">Техника</a>
				</li>
				<li>
					<a href="../courses/courses.html">Курсы</a>
				</li>
				<li>
					<a href="../tickets/tickets.html">Билеты</a>
				</li>
			</ul>
		</nav>
	</header>

	<main class="tech-content">
        <div class="tech-cont-menu">
            <nav class="ul">
                <a class="cat-nav-link-p" href="turntable.html">Проигрыватели</a>
                <a class="cat-nav-link-p active" href="#">Наушники</a>
                <a class="cat-nav-link-p" href="mics.html">Микрофоны</a>
                <a class="cat-nav-link-p" href="sndcards.html">Звуковые карты</a>
                <a class="cat-nav-link-p" href="spkrs.html">Колонки</a>
        </nav>
        </div>

        <div class="tech_content_cont">
            <section class="tech-cont">
                <section class="tech-card">
                    <img src="assets/turntables/t1.jpg" alt="картинка">
                    <h3>Проигрыватель №1</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="assets/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="assets/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="assets/turntables/t2.jpg" alt="картинка">
                    <h3>Проигрыватель №2</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="assets/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="assets/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="assets/turntables/t3.jpg" alt="картинка">
                    <h3>Проигрыватель №3</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="assets/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="assets/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="assets/turntables/t4.jpg" alt="картинка">
                    <h3>Проигрыватель №4</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="assets/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="assets/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="assets/turntables/t5.jpg" alt="картинка">
                    <h3>Проигрыватель №5</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="assets/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="assets/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="assets/turntables/t6.jpg" alt="картинка">
                    <h3>Проигрыватель №6</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="assets/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="assets/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="assets/turntables/t7.jpg" alt="картинка">
                    <h3>Проигрыватель №7</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="assets/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="assets/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="assets/turntables/t8.jpg" alt="картинка">
                    <h3>Проигрыватель №8</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="assets/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="assets/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="assets/turntables/t9.jpg" alt="картинка">
                    <h3>Проигрыватель №9</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="assets/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="assets/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
            </section>
        </div>    
    </main>
</body>

</html>