<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YMA - youth musical association</title>
    <link rel="stylesheet" href="styles/techs.css">
</head>

<body>
	<header class="header">
		<img src="../../assets/techs/shop_icon.svg" class="mainicon" alt="иконка магазина">
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li>
					<a href="turntable.html">Магазин</a>
				</li>
				<li>
					<a href="techs.html">На главную</a>
				</li>
			</ul>
		</nav>
		<a href="../../index.html" class="hubback"><img src="../../assets/techs/main_icon.svg" alt=""></a>
	</header>

	<main class="tech-content">
        <div class="tech-cont-menu">
            <nav class="ul">
                <a class="cat-nav-link-p" href="turntable.html">Проигрыватели</a>
                <a class="cat-nav-link-p" href="headpones.html">Наушники</a>
                <a class="cat-nav-link-p active" href="#">Микрофоны</a>
                <a class="cat-nav-link-p" href="spkrs.html">Колонки</a>
        </nav>
        </div>

        <div class="tech_content_cont">
            <section class="tech-cont">
                <section class="tech-card">
                    <img src="../../assets/techs/mics/1.jpg" alt="картинка">
                    <h3>Микрофон №1</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="../../assets/techs/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="../../assets/techs/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="../../assets/techs/mics/2.jpg" alt="картинка">
                    <h3>Микрофон №2</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="../../assets/techs/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="../../assets/techs/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="../../assets/techs/mics/3.jpg" alt="картинка">
                    <h3>Микрофон №3</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="../../assets/techs/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="../../assets/techs/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="../../assets/techs/mics/4.jpg" alt="картинка">
                    <h3>Микрофон №4</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="../../assets/techs/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="../../assets/techs/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="../../assets/techs/mics/5.jpg" alt="картинка">
                    <h3>Микрофон №5</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="../../assets/techs/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="../../assets/techs/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="../../assets/techs/mics/6.jpg" alt="картинка">
                    <h3>Микрофон №6</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="../../assets/techs/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="../../assets/techs/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="../../assets/techs/mics/7.jpg" alt="картинка">
                    <h3>Микрофон №7</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="../../assets/techs/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="../../assets/techs/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="../../assets/techs/mics/8.jpg" alt="картинка">
                    <h3>Микрофон №8</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="../../assets/techs/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="../../assets/techs/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
                <section class="tech-card">
                    <img src="../../assets/techs/mics/9.jpg" alt="картинка">
                    <h3>Микрофон №9</h3>
                    <p>Гарантия качества</p>
                    <div class="cardbut">
                        <button class="cardbut_act"><img src="../../assets/techs/like_icon.svg" alt="иконка лайка"></button>
                        <button class="cardbut_act"><img src="../../assets/techs/basket_icon.svg" alt="иконка корзины"></button>
                        <button class="buy">Купить</button>
                    </div>
                </section>
            </section>
        </div>    
    </main>

    <footer>
		<div class="main_footer">
			<nav class="footer_refs">
				<a href="#" class="footer_vk"><img src="../../assets/main/footer/vk.svg" alt="иконка ВК"></a>
				<a href="#" class="footer_ok"><img src="../../assets/main/footer/ok.svg" alt="иконка Одноклассники"></a>
				<a href="#" class="footer_inst"><img src="../../assets/main/footer/inst.svg" alt="иконка Инстаграм"></a>
				<a href="#" class="footer_fb"><img src="../../assets/main/footer/fb.svg" alt="иконка Фейсбук"></a>
				<a href="#" class="footer_sn"><img src="../../assets/main/footer/sn.svg" alt="иконка Снапчат"></a>
				<a href="#" class="footer_tw"><img src="../../assets/main/footer/tw.svg" alt="иконка Твиттер"></a>
			</nav>
		</div>
		<p>Сайт создал Полищук Павел</p>
	</footer>
</body>

</html>