<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/tech.css">
	<title>YMA - youth musical association</title>
</head>

<body>
	<header class="header">
		<img src="../../assets/techs/shop_icon.svg" class="mainicon" alt="иконка магазина">
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li>
					<a href="turntable.html">Магазин</a>
				</li>
				<li>
					<a href="../accessories/accessories.html">О нас</a>
				</li>
				<li>
					<a href="../accessories/accessories.html">Контакты</a>
				</li>
			</ul>
		</nav>
		<a href="../../index.html" class="hubback"><img src="../../assets/techs/main_icon.svg" alt=""></a>
	</header>
	
	<main class="content">
		<section class="main_up">
			<h1>YMA - Youth Musical Association</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium aspernatur blanditiis expedita molestiae ratione debitis mollitia unde enim obcaecati odio, impedit nostrum, officiis consequuntur non voluptate! Eveniet iste quas est!</p>
			<div class="buttonup"><button>Узнать больше</button></div>
		</section>
		<section class="main_info">
			<h2>О нас</h2>
			<div class="main_info_cards">
				<div class="info_card">
					<img src="assets/main/4544854_business_comerce_delivery_shop_truck_icon.svg" class="info_Img" alt="иконка доставки">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
				</div>
				<div class="info_card">
					<img src="assets/main/172506_money_icon.svg" class="info_Img" alt="иконка доставки">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
				</div>
				<div class="info_card">
					<img src="assets/main/8675180_ic_fluent_people_community_regular_icon.svg" class="info_Img" alt="иконка доставки">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing eli</p>
				</div>
			</div>
		</section>

		<section class="main_team">
			<!-- <div class="main_team_h2"></div> -->
			<h2>Команда</h2>
			<div class="main_team_cards">
				<div class="team_card">
					<img src="assets/main/avatars/1.svg" class="team_Img" alt="иконка доставки">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
				</div>
				<div class="team_card">
					<img src="assets/main/avatars/2.svg" class="team_Img" alt="иконка доставки">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
				</div>
				<div class="team_card">
					<img src="assets/main/avatars/3.svg" class="team_Img" alt="иконка доставки">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing eli</p>
				</div>
				<div class="team_card">
					<img src="assets/main/avatars/4.svg" class="team_Img" alt="иконка доставки">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing eli</p>
				</div>
				<div class="team_card">
					<img src="assets/main/avatars/5.svg" class="team_Img" alt="иконка доставки">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing eli</p>
				</div>
				<div class="team_card">
					<img src="assets/main/avatars/6.svg" class="team_Img" alt="иконка доставки">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing eli</p>
				</div>
			</div>
		</section>

		<section class="main_reg">
			<div class="login-page">
				<div class="form">
				  <form class="register-form">
					<input type="text" placeholder="name"/>
					<input type="password" placeholder="password"/>
					<input type="text" placeholder="email address"/>
					<button>create</button>
					<p class="message">Already registered? <a href="#">Sign In</a></p>
				  </form>
				  <form class="login-form">
					<input type="text" placeholder="username"/>
					<input type="password" placeholder="password"/>
					<button>login</button>
					<p class="message">Not registered? <a href="#">Create an account</a></p>
				  </form>
				</div>
			  </div>
		</section>
	</main>
</body>

</html>