<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/tech.css">
	<title>YMA - youth musical association</title>
</head>

<body>
	<header class="header">
		<img src="../../assets/techs/shop_icon.svg" class="mainicon" alt="иконка магазина">
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li>
					<a href="turntable.html">Магазин</a>
				</li>
				<li>
					<a href="../accessories/accessories.html">О нас</a>
				</li>
				<li>
					<a href="../accessories/accessories.html">Контакты</a>
				</li>
			</ul>
		</nav>
		<a href="../../index.html" class="hubback"><img src="../../assets/techs/main_icon.svg" alt=""></a>
	</header>
	<main class="content">
		<h1>Главная страница магазина техники</h1>
	</main>
</body>

</html>