<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../styles/posters.css">
	<title>YMA - youth musical association</title>
</head>

<body>
	<header class="header">
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li>
					<a href="../posters/posters.html">Постеры</a>
				</li>
				<li>
					<a href="../accessories/accessories.html">Аксессуары</a>
				</li>
				<li>
					<a href="../media/media.html">Носители</a>
				</li>
				<li>
					<a href="../tools/tools.html">Инструменты</a>
				</li>
				<li>
					<a href="../techs/techs.html">Техника</a>
				</li>
				<li>
					<a href="../courses/courses.html">Курсы</a>
				</li>
				<li>
					<a href="../tickets/tickets.html">Билеты</a>
				</li>
			</ul>
		</nav>
	</header>
	<main class="content">
		<h1>Главная страница магазина постеров</h1>
	</main>
</body>

</html>