@import "./_global.css";

/* styles for home page */
body {
    margin: 0;
}

.header {
    display: flex;
    list-style-type: none;
    padding: 20px 0;
    background-color: rgb(240, 240, 240);
    position: sticky;
    top: 0;
    left: 0;
}

.header img {
    flex-grow: 2;
    height: 80px;
}

.header__nav {
    display: flex;
    flex-grow: 10;
    align-items: center;
    justify-content: center;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.header__nav-list li {
    display: flex;
    padding: 15px;
    margin: 5px;
}

.header__nav-list a {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: #25B7D3;
    transition: all 0.6s;
}

.header__nav-list a:hover {
    transform: scale(1.1);
    color:#127488;
}


@media (max-width: 500px) {
    .header__nav-list li {
        padding: 10px 5px 5px 5px;
        margin: 3px;
    }
    .header__nav-list a {
        font-size: 15px;
        font-weight: 300;
    }
}


.main_up {
    background-image: url(../assets/techs/main/1back.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.main_up h1 {
    color: rgb(240, 240, 240);
    padding: 100px 100px 40px 100px;
}

.main_up p {
    color: rgb(240, 240, 240);
    max-width: 500px;
    padding: 0px 40px 40px 100px;
}

.buttonup {
    padding: 0px 40px 100px 100px;
}

.main_up button {
    padding: 10px;
    background-color: unset;
    color: rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 7px;
    transition: all 0.6s;
}

.main_up button:hover {
    transform: scale(1.1);
    border-color: yellow;
}

@media (max-width: 500px) {
    .main_up h1 {
        padding: 50px 0px 20px 50px;
        font-size: 18px;
    }
    
    .main_up p {
        padding: 0px 0px 20px 50px;
        max-width: 360px;
    }
    
    .buttonup {
        padding: 0px 0px 50px 50px;
    }
    
    .main_up button {
        padding: 8px;
        border-radius: 6px;
    }
}

.main_info {
    background-color: rgb(240, 240, 240);
}

.main_info_cards {
    display: flex;
}

.main_info h1 {
    color: black;
    padding: 100px 100px 40px 100px;
}

.main_info p {
    color: black;
    padding: 0px 40px 100px 100px;
    background-color: #e5e2e2;
}

.info_card {
    display: flex block;
}

.info_card img {
    width: 100px;
}

.infoimg {
    background-image: url(../assets/main/8542571_square_full_icon.png);
}

/* коммент */